/*@media (max-width:767px) { 
    .custom-navbar .navbar-right {
        float: right;
      padding-right: 15px;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li {
      float: right;
  }
    .custom-navbar .nav.navbar-nav.navbar-right li > a {
      padding:8px 5px;
  }
  .custom-navbar .navbar-toggle {
      float: left
  }
  .custom-navbar .navbar-header {
      float: left;
      width: auto!important;
  }
  .custom-navbar .navbar-collapse {
      text-align: right;
      margin-top: 0;
      clear: both;
      float: none;
  }
}*/

@charset "UTF-8";

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.navbar {
  margin-bottom: 0;
}

@media(min-width:768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
}

.navbar-toggler {
  text-align: right;
}

.hamburger {
  margin: 15px;
}



.background {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url(../../img/top_img.jpg);
  background-position: ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

@media(max-width: 768px){
div.background,div.background_timeline {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url(../../img/top_img_sm.jpg);
  background-position: ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
}


/*signup.php*/
.background_signup {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url(../../img/top_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

/*timeline.php*/

.background_timeline {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url(../../img/top_img.jpg);
  background-position: ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

@media only screen and (max-width: 750px) {
.profile { margin-top: 50px !important; }
}

.profile img{
  width: 200px;
  border-radius: 50%;
  height: 200px;
  display:inline;
  float: left;
  margin-right: 50px;
}

.user_profile_img_wrapper {
  text-align: center;
  margin-top: 10%;
}

.user_profile_img {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  position: relative;
}


.profile h4{
  float: left;
}


.feed_title {
  font-size: 24px;
}

.copy_img {
  margin-top: 150px;
}


.card_item {
  position: relative;
  margin: 0 auto;
  background-color: black;
  /*text-align:center;*/
  width: 300px !important;
  height:  300px !important; 
}


.card_item ul {
  position: relative;
  top: 0px;
  width: 100%;
  list-style: none;
}

.card_img{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.card_contents {
  display: none;

}

.card_active {
  display: block;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  height: 100%;

}

/*-------------------------*/
.modal-content {
  position:fixed;
  display:none;
  z-index:2;
  width:75%;
  margin:0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
}

.modal-content p {
  margin:0;
  padding:0;
}

.modal-overlay {
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}

.modal-open {
  color:#00f;
  text-decoration:underline;
}

.modal-open:hover {
  cursor:pointer;
  color:#f00;
}

.modal-close {
  color:#00f;
  text-decoration:underline;
}

.modal-close:hover {
  cursor:pointer;
  color:#f00;
}
/*-----------------------*/


.space_timeline {
  height: 300px;
}

.noline {
  text-decoration: none;
  color: black;
}

.noline:hover {
  color: black;
  text-decoration: none;
}


.cost {
  text-align: center;
  color: red;
  font-size: 20px;
}

.timeline {
  background-color:;
}

/*mypage.php*/
.space_mypage {
  height: 120px;
}

@media (min-width: 768px){
.comment_layer_col {
  margin: 0px;
}}

.profile_card {
  margin: 0 10%;
  background-color: #fff
}

@media (min-width: 768px){
.profile_card img {
  margin: 50% 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}}

@media (max-width: 768px){
.profile_card img {
  margin: 20% 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}}

.mypage_nav {
  display: table;

}

.nav_item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.nav_item + .nav_item {
  border-left: 1px solid #CCC;
}

.nav_item a {
  display: block;
  padding: 15px 0;
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

.btn {
  cursor: pointer;
}

.purchase {
  text-align: center;
}


/*post.php*/
body .post_body {
  height: 100%;
}

/*comment_layer*/

.whiteBbackground: {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 500px;
  height: 500px;
}

#comment_layer_img {
  width: 100%;
  height: auto;
  padding: 0px;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;

}

.wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square {
  background: rgba(0,0,0,.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square h3, .square p {
  color: #fff;
  margin-bottom: 10%
}

.square p {
  line-height: 3;
}

.square h2 {
  color: red;
  text-align: center;
  margin-bottom: 10%;
}

.square .purchase_btn_wrapper {
  text-align: center;
}

.purchase_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.purchase_btn:active {/*ボタンを押したとき*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


.profile_img {
  margin: 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.comment_box {
  border-bottom: 1px solid #8B8F9F;

}

/*purchase.php*/
.purchase_card {
  background-color: #fff;
  text-align: center;
  padding: 5%;
  margin-top: 5%;
}

.back_to_timeline {
  user-select: none;
}

@media (max-width: 576px){
h3.no_purchase {
  font-size: 20%;
}
}

.purchase_img {
  width: 50%;
}

.sm-icon {
  width: 5%;
}




