/*@media (max-width:767px) { 
    .custom-navbar .navbar-right {
        float: right;
      padding-right: 15px;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li {
      float: right;
  }
    .custom-navbar .nav.navbar-nav.navbar-right li > a {
      padding:8px 5px;
  }
  .custom-navbar .navbar-toggle {
      float: left
  }
  .custom-navbar .navbar-header {
      float: left;
      width: auto!important;
  }
  .custom-navbar .navbar-collapse {
      text-align: right;
      margin-top: 0;
      clear: both;
      float: none;
  }
}*/


header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.background {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url(../../img/top_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

/*signup.php*/
.background_signup {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url(../../img/top_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

/*timeline.php*/
.copy_img {
  margin-top: 150px;
}

.card1, .card2, .card3 {
  background-color: #fff;
}

.space_timeline {
  height: 600px;
}

.card1 {
  background-color: #fff;
}


@media only screen and (min-width: 768px){
.card2 {
  margin-top: 33%;
}

.card3 {
  margin-top: 66%;
}
}

.cost {
  text-align: center;
  color: red;
  font-size: 20px;
}

.timeline {
  background-color:;
}

/*mypage.php*/
.space_mypage {
  height: 120px;
}

.profile_card {
  margin: 0 10%;
  background-color: #fff
}

@media (min-width: 768px){
.profile_card img {
  margin: 50% 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}}

@media (max-width: 768px){
.profile_card img {
  margin: 20% 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}}

.mypage_nav {
  display: table;

}

.nav_item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.nav_item + .nav_item {
  border-left: 1px solid #CCC;
}

.nav_item a {
  display: block;
  padding: 15px 0;
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

.btn {
  cursor: pointer;
}

.purchase {
  text-align: center;


