.type-9 {
  span {
    transition: all 0.4s 0.4s;
    &:before, &:after {
      content: "";
    }
  }
  .top {
    transform: translateY(-17px);
  }
  .middle {
    position: relative;
    background: none;
    &:after{
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -50px;
      position: absolute;
    }
    &:before{
      content: "";
      transition: all 0.4s;
      width: 50px;
      display: block;
      height: 1px;
      background: #fff;
      transform: translateY(0px) translateX(0px);
      opacity: 1;
    }
  }
  .bottom {
    transform: translateY(17px);
  }
}

@keyframes type9-circle{
  0%{
    transform:scale(0);
    opacity: 1;
    border: 1px solid #fff;
  }
  100%{
    opacity: 0;
    border: 1px solid #fff;
    transform:scale(1.5);
  }
}

.hamburger-menu
{ width: 50px; height:50px; top: 0px; position:relative; cursor:pointer; float: right; margin-top: 20px;display: none;}
@media only screen and (max-width: 750px) {
.hamburger-menu { display: block !important; }
}
.hamburger-menu1
{ width:25px; height:5px; background-color:#009795; top:0px; position:absolute; } 
.hamburger-menu2
{ width:25px; height:5px; background-color:#009795; top:10px; position:absolute; } 
.hamburger-menu3
{ width:25px; height:5px; background-color:#009795; top:20px; position:absolute; } 

.hamburger-menu1,.hamburger-menu2,.hamburger-menu3
{ transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out; /* Opera */
  -moz-transition: all 0.5s ease-out; /* Firefox */
  -webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */
  -ms-transition: all 0.5s ease-out; /* IE */ }


.header-menu{
  display: none;
  margin-top: 80px;
  float: left;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header-menu li{
  list-style: none !important;
  height: 30px;
  padding-top: 5px;

}
.header-menu a{
  text-decoration: none !important;
  margin-left: 20px;
 

}

.header-menu li:hover{
    background-color: rgba(0, 151, 149, 0.1);


}
.header-menu ul{
       height: 100%;
       width:  100%;
       padding-left: 0;

}

header{
  height: 80px !important;
}

.right-header{
 float: right;
 height: 100%;
}


.right-header a{
  text-decoration: none !important;

}

.right-header li{
    list-style: none !important;
     display: inline-block;
    font-size: 15px;
     padding-top: 25px;
     padding-right: 15px;
     padding-left: 15px;
     padding-bottom: : 10px;
     height: 100%;

}
.right-header li:hover{
    background-color: rgba(0, 151, 149, 0.1);

}
.right-header ul{
       height: 100%;
       margin-bottom: 0;
}

#dropmenu{
  list-style-type: none;
  width: 800px;
  height: 40px;
  margin: 30px auto 300px;
  padding: 0;
  background: #fff;
  border-bottom: 5px solid #fff;
  border-radius: 3px 3px 0 0;
}
#dropmenu li{
  position: relative;
  width: 20%;
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
}
#dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#dropmenu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 3px 3px;
}
#dropmenu li:last-child ul{
  left: -100%;
  width: 100%
}
#dropmenu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#dropmenu li ul li a{
  padding: 13px 15px;
  background: #fff;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
#dropmenu li:hover > a{
  background: #fff;
  color: #000;
}
#dropmenu > li:hover > a{
  border-radius: 3px 3px 0 0;
}
#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#dropmenu li:hover ul li:first-child{
  border-top: 0;
}
#dropmenu li:hover ul li:last-child{
  border-bottom: 0;
}
#dropmenu li:hover ul li:last-child a{
  border-radius: 0 0 3px 3px;
}

@media only screen and (max-width: 750px) {
.right-header { display: none !important; }

}

.missyou_log_img {
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

img.user_profile_img_sm {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
