.cat{
	list-style-type: none !important;
	text-align: center;
	margin-right: 100px;
}

.cat a{
	text-decoration: none;
	color: #00000085;
	padding: 10px;
	font-size: 16px;
	
}
.type{
	list-style-type: none !important;
}
.type li{
	display: inline-block;
	padding: 20px;

}

.hidden_item{
	display:none ;
}

.active_item{
	display: block;
}

.active{
border-top: solid #00000085;
	
}